include README.md
include LICENSE
include requirements.txt
recursive-include temple *
recursive-include core *
recursive-include builder *
recursive-include internal *
recursive-include externals *
recursive-include services *
